<div class="form__wrapper">
    <div class="form">
        <h2>Кто летит?</h2>
        <p>Вас приглашает <span id="inviter-name"></span> <span id="inviter-surname"></span></p>
        <form class="fieldset js-form">
            <div class="fieldset__row">
                <div class="fieldset__title">Имя</div>
                <input class="fieldset__input" required name="name" placeholder="Иван" type="text" autofocus="true" />
            </div>
            <div class="fieldset__row">
                <div class="fieldset__title">Фамилия</div>
                <input class="fieldset__input" required name="surname" placeholder="Иванов" type="text" />
            </div>
            <div class="fieldset__row fieldset__row_section">
                <div class="fieldset__title">День рождения</div>
                <input class="fieldset__input" required name="birthday" placeholder="20.07.1989" type="date" />
            </div>
            <div class="fieldset__row">
                <div class="fieldset__title">Паспорт</div>
                <input class="fieldset__input" required name="passport" placeholder="4608 503790" type="text" />
            </div>
            <div class="fieldset__row fieldset__row_section">
                <div class="fieldset__title">Карта S7 Priority</div>
                <input class="fieldset__input" name="loyalty_card" placeholder="637 182 545" type="text" />
            </div>
            <div class="fieldset__row">
                <div class="fieldset__title"></div>
                <button class="fieldset__button" id="button-save">Сохранить</button>
            </div>
        </form>
    </div>
</div>
