<div class="header__wrapper">
    <div class="header">
        <div class="header__logo"></div>
        <div class="header__content">
            <div class="header__row">
                <span class="header__from" id="flight-from">Санкт-Петербург</span>
                <span class="header__plane"></span>
                <span class="header__to" id="flight-to">Москва</span>
            </div>
            <div class="header__row header__row_pale">
                <span id="departure-date">29 мая</span> &bull; <span id="departure-time">13:50</span>
            </div>
        </div>
    </div>
</div>
